@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-bottom: 200px;
}


body {
  background-image: url('/img/logo.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; 
  width: 100%;
  bottom: 0;
  padding: 10px 0;
  margin: 0;
  padding-bottom: 0px; 
  padding-top: 0px; 
  }

  .social-icon {
    color: white;
    font-size: 24px;
    margin-right: 10px; 
}

h1{
  position: relative;
  font-size: 2rem;
  font-family: sans-serif;
  -webkit-text-stroke: 0.1vw #000000;
  
}

h1::before{
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  color: rgb(104, 64, 64);

  -webkit-text-stroke: 0vw rgb(104, 64, 64);
  border-right: 1px solid rgb(104, 64, 64);
  overflow: hidden;
  /* transition:animate 6s linear infinite; */
   animation: animate 6s linear infinite;
}

@keyframes animate{
    0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
