@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
}

.tab-content {
    height: 71vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.card:hover{
    box-shadow: -28px 8px 63px 8px rgba(0,0,0,0.58);
    -webkit-box-shadow: -28px 8px 63px 8px rgba(0,0,0,0.58);
    -moz-box-shadow: -28px 8px 63px 8px rgba(0,0,0,0.58);
transition: 0.5s;
}
.btn:hover{
    background-color:rgb(102, 72, 7);
    transition: 0.9s;
}
#pills-tab .nav-link.active,
        #pills-tab .nav-link:hover {
            color:rgb(242, 247, 247) !important; 
            background-color: rgb(10, 10, 10) !important; 
        }

        #pills-tab .nav-link {
            color: rgb(14, 13, 13); 
        }